@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin:0; padding:0;
}

h1{
    color : lightblue;
    font-size: xx-large;
}
.pesada{
    font-weight: bolder;
}
.verde{
    color: green;
}
.subrayado{ 
    text-decoration: underline;
}
.violeta{
    color:blueviolet
}
.rojo{
    color:red
}
.azul{
    color:blue
}
.naranja{
    color:orange
}
section.fondo{
    background-color: grey;
}
.roboto{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .zilla{
    font-family: "Zilla Slab", serif;
    font-weight: 400;
    font-style: normal;
  }
  .grande{
    font-size: xx-large;
  } 
.fondoazul{
    background-color: rgb(0, 136, 255);
}

.logo{
    width: 200px;
    margin: 1.5% 1%;
}