.serviciosBox{
    border-style: solid;
    border-color: black;
    margin: 5px;
    padding-top: 10%;
    border-radius: 25px;
}
.serviciosH:hover{
    background-color:rgba(138, 138, 138, 0.673);
}