.contactoFondo{
    background-image: url(../img/fondoContacto.jpg);
    margin-bottom: -2%;
    padding: 2%;
    height: 1080px;
}
.gridContacto{
    @include grid(auto auto, 1fr 1fr, 0, 10px);
    margin: 5% 5% 1% 5%;
}
.gridInput{
    @include grid(repeat(5, 40px), 1fr 1fr, 5px, 0);
}