$iplipse-blue: #2196F3;
$iplipse-white: #f5f5f5;
$iplipse-black: black;
$iplipse-grey: #cccbc8;
$iplipse-darkblue: #00668c;
$iplipse-lightblue: #d4eaf7;
$iplipse-purple: #757de8;
$iplipse-maintypo: "Roboto Condensed", sans-serif;
$iplipse-secondtypo: "Zilla Slab", serif;