.logoSocial{
    width: 40px;
}
.logoWA{
    width: 80px;
    position: fixed;
    right: 15px;
    bottom: 120px;
}
.logoMenor{
    width: 100px;
    padding: 20%;
}
.media{
    display: flex;
    justify-content: space-around;
}
.footerFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    bottom: 0px;
    margin-top: 2%;
}
.redesSociales{
    margin: 5%;
}
