footer {
    .media {
        display: flex;
        justify-content: space-around;
        .redesSociales {
            margin: 5%;
            .logoSocial {
                width: 40px;
            }
        }
    }
    .logoMenor {
        width: 100px;
        padding: 20%;
    }
}
.footerFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    bottom: 0px;
    margin-top: 2%;
}